[profile.default]
src = "src"
out = "out"
libs = ["lib"]
remappings = [
    "@openzeppelin/contracts/=node_modules/@openzeppelin/contracts",
    "@fortefoundation/forte-rules-engine/=node_modules/@fortefoundation/forte-rules-engine"
]
# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
